%h1 Listing photos

%table
  %thead
    %tr
      %th Photos
      %th
      %th
      %th

  %tbody
    - @photos.each do |photo|
      %tr
        %td= link_to photo.name, photo

%br

= link_to 'Fetch Photos', "photos/fetch"
